In [22]:
import pandas as pd
import numpy as np

In [23]:
df=pd.read_csv('anime.csv')
df.head()

,MAL_ID,Name,Score,Genres,English name,Japanese name,Type,Episodes,Aired,Premiered,...,Score-10,Score-9,Score-8,Score-7,Score-6,Score-5,Score-4,Score-3,Score-2,Score-1
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,カウボーイビバップ,TV,26,"Apr 3, 1998 to Apr 24, 1999",Spring 1998,...,229170.0,182126.0,131625.0,62330.0,20688.0,8904.0,3184.0,1357.0,741.0,1580.0
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Cowboy Bebop:The Movie,カウボーイビバップ 天国の扉,Movie,1,"Sep 1, 2001",Unknown,...,30043.0,49201.0,49505.0,22632.0,5805.0,1877.0,577.0,221.0,109.0,379.0
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",Trigun,トライガン,TV,26,"Apr 1, 1998 to Sep 30, 1998",Spring 1998,...,50229.0,75651.0,86142.0,49432.0,15376.0,5838.0,1965.0,664.0,316.0,533.0
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),TV,26,"Jul 2, 2002 to Dec 24, 2002",Summer 2002,...,2182.0,4806.0,10128.0,11618.0,5709.0,2920.0,1083.0,353.0,164.0,131.0
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",Beet the Vandel Buster,冒険王ビィト,TV,52,"Sep 30, 2004 to Sep 29, 2005",Fall 2004,...,312.0,529.0,1242.0,1713.0,1068.0,634.0,265.0,83.0,50.0,27.0

In [24]:
df.columns

Index(['MAL_ID', 'Name', 'Score', 'Genres', 'English name', 'Japanese name',
       'Type', 'Episodes', 'Aired', 'Premiered', 'Producers', 'Licensors',
       'Studios', 'Source', 'Duration', 'Rating', 'Ranked', 'Popularity',
       'Members', 'Favorites', 'Watching', 'Completed', 'On-Hold', 'Dropped',
       'Plan to Watch', 'Score-10', 'Score-9', 'Score-8', 'Score-7', 'Score-6',
       'Score-5', 'Score-4', 'Score-3', 'Score-2', 'Score-1'],
      dtype='object')

In [25]:
df.Watching.head()

0    105808
1      4143
2     29113
3      4300
4       642
Name: Watching, dtype: int64

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17562 entries, 0 to 17561
Data columns (total 35 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MAL_ID         17562 non-null  int64
 1   Name           17562 non-null  object
 2   Score          17562 non-null  object
 3   Genres         17562 non-null  object
 4   English name   17562 non-null  object
 5   Japanese name  17562 non-null  object
 6   Type           17562 non-null  object
 7   Episodes       17562 non-null  object
 8   Aired          17562 non-null  object
 9   Premiered      17562 non-null  object
 10  Producers      17562 non-null  object
 11  Licensors      17562 non-null  object
 12  Studios        17562 non-null  object
 13  Source         17562 non-null  object
 14  Duration       17562 non-null  object
 15  Rating         17562 non-null  object
 16  Ranked         17562 non-null  object
 17  Popularity     17562 non-null  int64
 18  Members        17562 non-null  int64
 19  Favorites      17562 non-null  int64
 20  Watching       17562 non-null  int64
 21  Completed      17562 non-null  int64
 22  On-Hold        17562 non-null  int64
 23  Dropped        17562 non-null  int64
 24  Plan to Watch  17562 non-null  int64
 25  Score-10       17562 non-null  object
 26  Score-9        17562 non-null  object
 27  Score-8        17562 non-null  object
 28  Score-7        17562 non-null  object
 29  Score-6        17562 non-null  object
 30  Score-5        17562 non-null  object
 31  Score-4        17562 non-null  object
 32  Score-3        17562 non-null  object
 33  Score-2        17562 non-null  object
 34  Score-1        17562 non-null  object
dtypes: int64(9), object(26)
memory usage: 4.7+ MB

In [27]:
numeric_columns = [
    "Score", "Ranked", "Popularity", "Members", "Favorites", "Watching", 
    "Completed", "On-Hold", "Dropped", "Plan to Watch"
] + [f"Score-{i}" for i in range(1, 11)]

In [28]:
Score_columns = df.columns[df.columns.str.contains("Score")].to_list()
scores = df[["MAL_ID","Name","Aired"] + Score_columns]
scores.head(10)

,MAL_ID,Name,Aired,Score,Score-10,Score-9,Score-8,Score-7,Score-6,Score-5,Score-4,Score-3,Score-2,Score-1
0,1,Cowboy Bebop,"Apr 3, 1998 to Apr 24, 1999",8.78,229170.0,182126.0,131625.0,62330.0,20688.0,8904.0,3184.0,1357.0,741.0,1580.0
1,5,Cowboy Bebop: Tengoku no Tobira,"Sep 1, 2001",8.39,30043.0,49201.0,49505.0,22632.0,5805.0,1877.0,577.0,221.0,109.0,379.0
2,6,Trigun,"Apr 1, 1998 to Sep 30, 1998",8.24,50229.0,75651.0,86142.0,49432.0,15376.0,5838.0,1965.0,664.0,316.0,533.0
3,7,Witch Hunter Robin,"Jul 2, 2002 to Dec 24, 2002",7.27,2182.0,4806.0,10128.0,11618.0,5709.0,2920.0,1083.0,353.0,164.0,131.0
4,8,Bouken Ou Beet,"Sep 30, 2004 to Sep 29, 2005",6.98,312.0,529.0,1242.0,1713.0,1068.0,634.0,265.0,83.0,50.0,27.0
5,15,Eyeshield 21,"Apr 6, 2005 to Mar 19, 2008",7.95,9226.0,14904.0,22811.0,16734.0,6206.0,2621.0,795.0,336.0,140.0,151.0
6,16,Hachimitsu to Clover,"Apr 15, 2005 to Sep 27, 2005",8.06,11829.0,16309.0,20008.0,13062.0,5574.0,3148.0,1339.0,484.0,278.0,321.0
7,17,Hungry Heart: Wild Striker,"Sep 11, 2002 to Sep 10, 2003",7.59,1123.0,1777.0,3102.0,3075.0,1286.0,602.0,218.0,88.0,31.0,32.0
8,18,Initial D Fourth Stage,"Apr 17, 2004 to Feb 18, 2006",8.15,10948.0,15820.0,22379.0,12912.0,3874.0,1236.0,369.0,97.0,48.0,259.0
9,19,Monster,"Apr 7, 2004 to Sep 28, 2005",8.76,77350.0,60652.0,43459.0,22045.0,8861.0,4381.0,2086.0,882.0,593.0,1177.0

In [29]:
scores.isnull().sum()

MAL_ID      0
Name        0
Aired       0
Score       0
Score-10    0
Score-9     0
Score-8     0
Score-7     0
Score-6     0
Score-5     0
Score-4     0
Score-3     0
Score-2     0
Score-1     0
dtype: int64

In [30]:
scores = scores.replace("Unknown",np.NaN)

In [31]:
scores.shape

(17562, 14)

In [32]:
scores = scores.dropna(subset=Score_columns[1:])

In [33]:
scores.shape

(13436, 14)

In [34]:
scores.dtypes

MAL_ID       int64
Name        object
Aired       object
Score       object
Score-10    object
Score-9     object
Score-8     object
Score-7     object
Score-6     object
Score-5     object
Score-4     object
Score-3     object
Score-2     object
Score-1     object
dtype: object

In [35]:
scores[Score_columns] = scores[Score_columns].astype("float")

In [36]:
scores.dtypes

MAL_ID        int64
Name         object
Aired        object
Score       float64
Score-10    float64
Score-9     float64
Score-8     float64
Score-7     float64
Score-6     float64
Score-5     float64
Score-4     float64
Score-3     float64
Score-2     float64
Score-1     float64
dtype: object

In [37]:
def score_calculate(data ,list_of_score_cols):
    list_of_score_cols.reverse()
    final_score = 0
    for i,score_count in enumerate(list_of_score_cols,1):
        final_score += (i * data[score_count])/data[list_of_score_cols].sum(axis = 1)
    return final_score

In [38]:
scores["self_score"] = score_calculate(scores,Score_columns[1:])
scores.head(10)

,MAL_ID,Name,Aired,Score,Score-10,Score-9,Score-8,Score-7,Score-6,Score-5,Score-4,Score-3,Score-2,Score-1,self_score
0,1,Cowboy Bebop,"Apr 3, 1998 to Apr 24, 1999",8.78,229170.0,182126.0,131625.0,62330.0,20688.0,8904.0,3184.0,1357.0,741.0,1580.0,8.740248
1,5,Cowboy Bebop: Tengoku no Tobira,"Sep 1, 2001",8.39,30043.0,49201.0,49505.0,22632.0,5805.0,1877.0,577.0,221.0,109.0,379.0,8.390985
2,6,Trigun,"Apr 1, 1998 to Sep 30, 1998",8.24,50229.0,75651.0,86142.0,49432.0,15376.0,5838.0,1965.0,664.0,316.0,533.0,8.215289
3,7,Witch Hunter Robin,"Jul 2, 2002 to Dec 24, 2002",7.27,2182.0,4806.0,10128.0,11618.0,5709.0,2920.0,1083.0,353.0,164.0,131.0,7.216657
4,8,Bouken Ou Beet,"Sep 30, 2004 to Sep 29, 2005",6.98,312.0,529.0,1242.0,1713.0,1068.0,634.0,265.0,83.0,50.0,27.0,6.892115
5,15,Eyeshield 21,"Apr 6, 2005 to Mar 19, 2008",7.95,9226.0,14904.0,22811.0,16734.0,6206.0,2621.0,795.0,336.0,140.0,151.0,7.859180
6,16,Hachimitsu to Clover,"Apr 15, 2005 to Sep 27, 2005",8.06,11829.0,16309.0,20008.0,13062.0,5574.0,3148.0,1339.0,484.0,278.0,321.0,7.925669
7,17,Hungry Heart: Wild Striker,"Sep 11, 2002 to Sep 10, 2003",7.59,1123.0,1777.0,3102.0,3075.0,1286.0,602.0,218.0,88.0,31.0,32.0,7.545439
8,18,Initial D Fourth Stage,"Apr 17, 2004 to Feb 18, 2006",8.15,10948.0,15820.0,22379.0,12912.0,3874.0,1236.0,369.0,97.0,48.0,259.0,8.136675
9,19,Monster,"Apr 7, 2004 to Sep 28, 2005",8.76,77350.0,60652.0,43459.0,22045.0,8861.0,4381.0,2086.0,882.0,593.0,1177.0,8.622572

In [39]:
scores.sort_values(by="self_score",ascending=False).head(10)

,MAL_ID,Name,Aired,Score,Score-10,Score-9,Score-8,Score-7,Score-6,Score-5,Score-4,Score-3,Score-2,Score-1,self_score
14963,38524,Shingeki no Kyojin Season 3 Part 2,"Apr 29, 2019 to Jul 1, 2019",9.10,327290.0,239451.0,110481.0,33662.0,8365.0,2974.0,1108.0,550.0,385.0,4169.0,9.092811
3971,5114,Fullmetal Alchemist: Brotherhood,"Apr 5, 2009 to Jul 4, 2010",9.19,714811.0,401507.0,199160.0,70045.0,20210.0,9308.0,3222.0,1536.0,2162.0,16806.0,9.071444
15926,40028,Shingeki no Kyojin: The Final Season,"Dec 7, 2020 to ?",9.17,173154.0,63756.0,26016.0,8793.0,2674.0,1336.0,588.0,382.0,514.0,11061.0,9.065452
5683,9253,Steins;Gate,"Apr 6, 2011 to Sep 14, 2011",9.11,468504.0,275960.0,140914.0,57740.0,21375.0,11126.0,5061.0,2292.0,1678.0,5255.0,9.010746
6474,11061,Hunter x Hunter (2011),"Oct 2, 2011 to Sep 24, 2014",9.10,454000.0,304741.0,167331.0,65085.0,18241.0,7789.0,2780.0,1243.0,1054.0,4602.0,9.004935
9886,28851,Koe no Katachi,"Sep 17, 2016",9.00,393684.0,295492.0,156604.0,61581.0,19228.0,7135.0,3108.0,1242.0,698.0,2071.0,8.982195
15631,39486,Gintama: The Final,"Jan 8, 2021",8.88,2920.0,301.0,211.0,78.0,28.0,22.0,9.0,9.0,14.0,288.0,8.969072
12898,35180,3-gatsu no Lion 2nd Season,"Oct 14, 2017 to Mar 31, 2018",9.00,52442.0,42572.0,23376.0,8143.0,2371.0,934.0,326.0,165.0,90.0,799.0,8.941235
11308,32281,Kimi no Na wa.,"Aug 26, 2016",8.96,516874.0,333022.0,200239.0,86314.0,29641.0,12257.0,5199.0,2131.0,1116.0,3966.0,8.939312
7261,15417,Gintama': Enchousen,"Oct 4, 2012 to Mar 28, 2013",9.04,51383.0,32100.0,17753.0,6900.0,1968.0,867.0,303.0,184.0,145.0,2059.0,8.915117